.carta {
    background-color: lightblue;
	display: flex;
	align-items: center;
}

/*----------  Iconos  ----------*/

.iconos {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	gap: 2rem;

	> app-opcion-menu {
		width: 25%;
		height: 25%;
		max-height: 200px;
	}
}